.education {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.education li {
  position: relative;
}

#educationHeader {
  font-family: var(--headerFont);
  font-weight: 400;
}

.deleteBtn {
  background-color: rgb(56, 56, 56);
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 70px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.newSchoolBtn {
  background-color: rgb(88, 88, 88);
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 200px;
  align-self: center;
}

.editBtn {
  background-color: rgb(56, 56, 56);
  color: white;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 70px;
}
