.experience .inputContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.experience label {
  display: flex;
  flex-direction: column;
}

.experience input {
  width: 250px;
}

textarea {
  resize: none;
}

#checkboxLabel {
  flex-direction: row;
}

input[type='checkbox'] {
  width: 30px;
}

.outputs h2 {
  font-family: var(--headerFont);
  font-weight: 600;
  margin: 0px;
}

.outputs h3,
#duration {
  font-family: var(--headerFont);
  font-weight: 100;
  margin: 0px 0px 5px;
}

.outputs p {
  margin-top: 0;
  margin-bottom: 0;
}
