* {
  background-color: lightgrey;
}

.editBtn,
.newJobBtn,
.newSchoolBtn,
.deleteBtn {
  visibility: hidden;
}

.generalInfo:hover {
  .editBtn {
    visibility: visible;
  }
}

.experience:hover {
  .newJobBtn,
  .deleteBtn,
  .editBtn {
    visibility: visible;
  }
}
.education:hover {
  .newSchoolBtn,
  .deleteBtn,
  .editBtn {
    visibility: visible;
  }
}
