* {
  --headerFont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --contentFont: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
  background-color: rgb(229, 229, 229);
  display: flex;
  justify-content: center;
  padding: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.app h1 {
  justify-self: center;
  font-family: var(--headerFont);
  font-weight: lighter;
}

.cv {
  width: 8in;
  background-color: white;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 15px 40px;
}

.editBtn,
.newJobBtn,
.newSchoolBtn,
.deleteBtn {
  visibility: hidden;
}

.submitBtn {
  width: 100px;
  height: 35px;
  margin: 10px 0px;
  color: white;
  background-color: rgb(73, 161, 174);
  border: none;
  border-radius: 5px;
}

.line {
  width: 60%;
  border-bottom: 1px solid black;
  transform: translateY(35px);
  align-self: center;
}

.generalInfo:hover {
  .editBtn {
    visibility: visible;
  }
}

.experience:hover {
  .newJobBtn,
  .deleteBtn,
  .editBtn {
    visibility: visible;
  }
}
.education:hover {
  .newSchoolBtn,
  .deleteBtn,
  .editBtn {
    visibility: visible;
  }
}

button:hover {
  cursor: pointer;
}
